// variables
$gradient-direction: to bottom right;
$gradient-from: rgb(36, 44, 82);
$gradient-to: rgb(185, 0, 0);

$font-size: 30px;
$font-family: 'Anton', sans-serif;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border
}

body {
    // background: linear-gradient($gradient-direction, $gradient-from, $gradient-to);
    font-size: $font-size;
    font-family: $font-family;
}

.game-canvas {
    border: 5px solid #000;
    cursor: crosshair;
}

.level-value {
    text-transform: uppercase;
}

.start-button {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: uppercase;

    &::after {
        display: block;
        content: "";
        width: 0;
        height: 5px;
        background: #000;
        transition: ease-in-out .15s all;
    }

    &:hover {
        &::after {
            width: 100%;
        }    
    }
}

.input-underline {
    border: 0;
    outline: 0;
    border-bottom: 5px solid #000;
    font-family: $font-family;
    font-size: $font-size;
    width: 50px;
    text-align: center;
}